.class1{color: red; font-size: 30px; font-weight: bold}
.class2{color: blue; font-size: 30px; font-weight: bold; font-family: cooper;}
.class3{color: green; font-size: 30px; font-family: jokerman;}
.class4{color: purple; font-size: 30px; font-family: algerian;}
.class5{color: violet; font-size: 30px; font-family: pristina;}
.class6{color: darkgreen; font-size: 30px; font-weight: bold; font-family: broadway;}
.class7{color: yellow; font-size: 30px; font-family: harrington;}
