html,body
{
	padding: 0;
	margin: 0;
	height: 100%;
}
#wrapper
{
	min-height: 100%;
	position: relative;
}
#header
{
	height: 50px;
	width: device-width;		/* previous input width: 100% */
	padding: 10px;
	text-align: center;
	background-color: #26a69a;
	color: #fff;
	font-size:relative;
}
#header>button
{
	font-size:1.5vw;	/* variable view-port size of font with font-size:1.2vw; */
}
#content
{
	width: 100%;
	color: #26a69a;
	padding-top: 100px;	/*100*/
	padding-bottom: 70px;	/*70*/
	text-align: center;
}
#footer
{
	height: 70px;
	width: 100%;
	padding-top: 10px;
	background-color: #004d40;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0px;
}
button
{
	background:green;border:2px;position:relative;border-radius:25%;align:center;width:device-width;
	
}
button:hover
{
	background:skyblue;border:0px;position:relative;
}
div>#header:hover
{
	font-family:lucidia;font-weight:bold;color:green;
}
